<div class="row">
  <div class="col-4">
    <div class="card" *ngIf="pizza">
      <img src="{{pizza.photo.url}}" alt=""
           class="card-img-top img-thumbnail">
      <div class="card-body">
        <div>
          <strong>Name:</strong>
          <p>{{pizza.name}}</p>
        </div>
        <div>
          <strong>Ingredients:</strong>
          <p>{{pizza.ingredients}}</p>
        </div>
        <div>
          <strong>Weight:</strong>
          <p>{{pizza.weight}}</p>
        </div>
        <div>
          <strong>Cost:</strong>
          <p>{{pizza.cost}}</p>
        </div>
      </div>
      <div class="card-footer">
       card-footer
      </div>
    </div>
  </div>
  <div class="col-8">
    <h2>Click on toping name to add to your pizza</h2>
      <ul class="list-group" [(ngModel)]="topings" name="topings" ngDefaultControl>
        <li class="list-group-item" *ngFor="let toping of topings">
          <button type="button" class="btn btn-danger"  (click)="increaseCounter(toping.id)">
            {{toping.name}}           <span class="badge badge-pill badge-primary" *ngIf="toping.counter">{{toping.counter}}</span>
          </button>
        </li>
      </ul>
      <br>
      <button class="btn btn-outline-danger" (click)="addToCart()">Add to cart</button>
  </div>

</div>
