<div class="row">
  <div class="col-4">
    <div class="card" *ngIf="pizza">
      <img src="{{pizza.photo.url}}" alt=""
           class="card-img-top img-thumbnail">
      <div class="card-body">
        <div>
          <strong>Name:</strong>
          <p>{{pizza.name}}</p>
        </div>
        <div>
          <strong>Ingredients:</strong>
          <p>{{pizza.ingredients}}</p>
        </div>
        <div>
          <strong>Weight:</strong>
          <p>{{pizza.weight}}</p>
        </div>
        <div>
          <strong>Cost:</strong>
          <p>{{pizza.cost}}</p>
        </div>
      </div>
      <div class="card-footer">
       card-footer
      </div>
    </div>
  </div>
  <div class="col-8">

  </div>

</div>
