<table class="table">
    <thead>
    <tr>
      <th>Name</th>
      <th>Weight</th>
      <th>Topings</th>
      <th>Cost</th>
      <th >State</th>
    </tr>
    </thead>
  <tbody>
    <tr *ngFor="let pizza of order?.pizzas">
      <th>{{pizza.name}}</th>
      <th>{{pizza.weight}}</th>
      <th ngbDropdown>
        <button class="btn btn-outline-primary"
                id="dropdownBasic1" ngbDropdownToggle>Topings</button>
        <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <li *ngFor="let toping of pizza.topings" >
            <span *ngIf="toping.counter > 0" class="dropdown-item" href="#">{{toping.name}} -- {{toping.counter}}</span>
          </li>
        </ul>
      </th>
      <th>{{pizza.cost}}</th>
      <th>{{pizza.stateAsString}}</th>
      <th *ngIf="(accountService.currentUser$ | async)?.roles.includes('PizzaMaker')">
        <form [formGroup]="selectState">
        <select (ngModelChange)="mySelectHandler($event, pizza)" formControlName="state" class="form-select" id="stateSelect" aria-label="Default select example">
          <option disabled>Choose state</option>
          <option [ngValue]="item"  id="{{item}}" *ngFor="let item of states">{{item.name}}</option>
        </select>
        </form>
      </th>
    </tr>
  </tbody>
  <button type="submit" class="btn btn-success m-3" style="width: 100%" (click)="updateState(order?.pizzas)">Save Changes</button>
</table>
