<ul class="list-group">

  <li ngbDropdown *ngFor="let pizza of user.cart.pizzas" class="list-group-item d-flex justify-content-between align-items-center">

    <img class="img-thumbnail" src="{{pizza.photoUrl}}" alt="{{pizza.name}}" >
    <span class="description">{{pizza.name}}</span>
    <button class="btn btn-outline-primary"
            id="dropdownBasic1" ngbDropdownToggle>Topings</button>
    <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="dropdownBasic1">
      <li *ngFor="let toping of pizza.topings" >
        <span *ngIf="toping.counter > 0" class="dropdown-item" href="#">{{toping.name}} -- {{toping.counter}}</span>
      </li>
      <li class="text-center">
        <button class="btn btn-info" (click)="addTopings(pizza, addTopingsTemplate)">Add</button>
      </li>
    </ul>
    <span class="badge bg-secondary"> Cost : {{pizza.cost}}</span>
    <button type="delete" class="btn btn-danger" (click)="deletePizza(pizza, deleteTemplate)">-</button>
  </li>

</ul>

<div class="container mt-3" >
  <button class="btn btn-primary center" *ngIf="user.cart.pizzas.length > 0" (click)="orderCreate(user)" >Proceed to checkout</button>
  <span *ngIf="user.cart.pizzas.length === 0">Your cart is empty</span>
</div>


<ng-template #deleteTemplate>
  <div class="modal-body text-center">
    <p>Are ypu sure you want to delete pizza</p>
    <button type="button" class="btn btn-default" (click)="confirmDeletion()" >Delete</button>
    <button type="button" class="btn btn-primary" (click)="declineDeletion()" >Cansel</button>
  </div>
</ng-template>

<ng-template #addTopingsTemplate>
  <div class="modal-body text-center">
    <p>Choose what topings to add</p>
    <ul>
      <li class="list-group-item border-0" *ngFor="let toping of pizzaCopy.topings">
          <span>{{toping.name}} x {{toping.counter}}</span>
        <button class="btn btn-primary m-lg-3" (click)="plusToping(toping)">+</button>
        <button class="btn btn-danger" (click)="minusToping(toping)">-</button>
      </li>
    </ul>
    <button type="button" class="btn btn-default" (click)="confirmAddTopings()" >Add</button>
    <button type="button" class="btn btn-primary" (click)="canselAddTopings()" >Cansel</button>
  </div>
</ng-template>




